
   <h1> View Records </h1>
    <ul class="list-group">
      {{#each listmetadata as |meta|}}
       <li class="list-group-item"><a {{ action 'load' meta.name }}>{{meta.name}}</a></li>
      {{/each}}
    </ul>